<!-- <header class="header">
    <div class="logo">
        <img src="../assets/images/logo-itau.png" alt="Logo-Itau" class="header__image" />
    </div>
    <div class="profile">
        <div class="language">
            <span>PT</span>
        </div>
    </div>
</header> -->

<header class="header">
    <div class="header__left">
        <img src="../assets/images/logo-itau.png" alt="Logo Itaú BBA" class="header__logo" />
    </div>
    <div class="header__right">
        <div class="header__language">
            <span>PT</span>
        </div>
        <div class="header__divider"></div>
        <div class="header__profile">
            <div class="header__profile-image"></div>
            <div class="header__profile-info">
                <span class="header__profile-name">{{ userData.name }}</span>
                <span class="header__profile-role">{{ userData.position }}</span>
            </div>
            <div class="header__dropdown-icon">▼</div>
        </div>
    </div>
</header>